.control__image__details {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0px 0px 0px;
}

.text-details {
  padding: 30px 0px;
}

#font__control {
  font-family: "Noto Sans JP", sans-serif;
  font-display: swap;
}

.inherit-text {
  text-transform: inherit;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 700;
  font-display: swap;
  border-radius: 20px;
}

@media screen and (max-width: 400px) {
  .control__image {
    width: 200px;
  }
}
