#position {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#center {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}

.space {
  margin: 30px 0px 0px;
}

.padding-space {
  padding: 50px;
}

#content__plus {
  font-family: "Noto Sans JP", sans-serif;
  font-display: swap;
  font-weight: 300 !important;
}

#centering__element {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#padding {
  padding: 20px;
}

#btn-poster {
  margin-top: 40px;
  text-transform: inherit;
  font-size: 16px;
  font-family: "Noto Sans JP", sans-serif;
  font-display: swap;
  font-weight: 700;
  border-radius: 30px;
}

#btn-poster:hover {
  transition: 0.3s all ease-in !important;
}

.small__space {
  padding: 30px 0px 20px 0px;
}

#league-name {
  display: none;
  padding-bottom: 30px;
}

#footer-sentence {
  font-family: "Noto Sans JP", sans-serif;
  font-display: swap;
  font-weight: 300 !important;
}

.control-center {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.centering-vs {
  position: absolute;
  left: 50%;
}

#mb-space {
  margin-bottom: 40px;
}

.collapsible-header:hover {
  background-color: #f5f5f5;
  transition: 0.3s all ease-in;
}

@media screen and (max-width: 360px) {
  .control-center {
    justify-content: space-between;
  }
}
