<div class="container">
    <div class="row">
        <div class="col l6 s12">
            <h1 class="orange-text text-darken-3">Score</h1>
            <p class="orange-text text-darken-2" id="footer-sentence" style="font-size: 16px;">Score adalah sebuah
                website yang berisikan
                informasi mengenai sepakbola khususnya bundesliga.</p>
        </div>
        <div class="col l4 offset-l2 s12">
            <img src="../assets/images/score-512x512.png" width="200px" height="200px" alt="Score">
        </div>
    </div>
</div>
<div class="footer-copyright">
    <div class="container orange-text text-darken-2 center-align">
        Made With 🖤 © 2020
    </div>
</div>